/* Adding font */
@font-face {
  font-family: 'Mightype Script';
  src: url('/static/mightype.otf');
}

/* Background gift CSS */

.absolute {
  position: absolute;
}

.left-image {
  left: 0;
  width: 22.6953125vw;
}

.right-image {
  left: 22.6053125vw;
  width: 77.3046875vw;
}

.bottom-image {
  top: 20.4166666vh;
  height: 79.5833333vh;
}

.top-image {
  top: 0;
  height: 20.416666666vh;
}

.container {
  position: absolute;
  top: 18.416667vh;
  left: 19.605313vw;
  width: 20vw;
  height: 26.26294563vw;
  z-index: 3;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: opacity 1s, -webkit-transform 2s;
  transition: opacity 1s, -webkit-transform 2s;
  transition: opacity 1s, transform 2s;
  transition: opacity 1s, transform 2s, -webkit-transform 2s;
}

.center-card {
  -webkit-transform: scale(2, 2) translate(14.8vw, 5vh);
          transform: scale(2, 2) translate(14.8vw, 5vh);
}

.card {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  top: 18.416667vh;
  left: 19.605313vw;
  width: 100%;
  height: 100%;
}

.open {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#card-front {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  width: 100%;
  height: 100%;
  position: absolute;
}

#card-front .front {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#card-front .back {
  background-color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#card-inside {
  z-index: -1;
  background-color: white;
  display: block;
  position: absolute;
  width: 99.7%;
  height: 99.7%;
}

#card-inside button {
  background-color: #ba0a04;
  border: none;
  text-decoration: none;
  width: 70%;
  height: 60%;
  position: absolute;
  top: 27%;
  left: 15%;
}

#card-inside svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27.24%;
}


/* Unwrapping animation */

.unwrap {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes unwrap-bottom-right {
  from {
    top: 20.4166666vh;
    left: 22.6053125vw;
  }
  to {
    top: 100vh;
    left: 100vw;
  }
}

@keyframes unwrap
.non-clickable {
  pointer-events: none;
}
-bottom-right {
  from {
    top: 20.4166666vh;
    left: 22.6053125vw;
  }
  to {
    top: 100vh;
    left: 100vw;
  }
}

.non-clickable {
  pointer-events: none;
}

.unwrap-bottom-right {
  -webkit-animation-name: unwrap-bottom-right;
          animation-name: unwrap-bottom-right;
}

@-webkit-keyframes unwrap-top-right {
  from {
    top: 0;
    left: 22.6053125vw;
  }
  to {
    top: -20.4166666vh;
    left: 100vw;
  }
}

@keyframes unwrap-top-right {
  from {
    top: 0;
    left: 22.6053125vw;
  }
  to {
    top: -20.4166666vh;
    left: 100vw;
  }
}

.unwrap-top-right {
  -webkit-animation-name: unwrap-top-right;
          animation-name: unwrap-top-right;
}

@-webkit-keyframes unwrap-bottom-left {
  from {
    top: 20.4166666vh;
    left: 0;
  }
  to {
    top: 100vh;
    left: -22.6053125vw;
  }
}

@keyframes unwrap-bottom-left {
  from {
    top: 20.4166666vh;
    left: 0;
  }
  to {
    top: 100vh;
    left: -22.6053125vw;
  }
}

.unwrap-bottom-left {
  -webkit-animation-name: unwrap-bottom-left;
          animation-name: unwrap-bottom-left;
}

@-webkit-keyframes unwrap-top-left {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: -20.4166666vh;
    left: -22.6053125vw;
  }
}

@keyframes unwrap-top-left {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: -20.4166666vh;
    left: -22.6053125vw;
  }
}

.unwrap-top-left {
  -webkit-animation-name: unwrap-top-left;
          animation-name: unwrap-top-left;
}

/* unwrap button */
.unwrap-button {
    top: 15.4166666vh;
    left: 17.6053125vw;
    width: 10vw;
    height: 10vh;
    border: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

/* Body */
#body {
  text-align: center;
  overflow: hidden;
}

#voucher {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

/* Loading screen */
#loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
  background-color: #ba0a04;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.invisible {
  opacity: 0;
}

#loading-icon {
  margin: 0 auto;
  position: relative;
  top: 45%;
  font-size: 1.1em;
  font-family: sans-serif;
}

@-webkit-keyframes fly {
  to {
    -webkit-transform: translate(200vw, -200vh);
            transform: translate(200vw, -200vh);
  }
}

@keyframes fly {
  to {
    -webkit-transform: translate(200vw, -200vh);
            transform: translate(200vw, -200vh);
  }
}

.reindeer {
  position: absolute;
  -webkit-animation: fly 9s linear infinite;
          animation: fly 9s linear infinite;
}

.non-clickable {
  pointer-events: none;
}
